{% extends 'base.html' %} 
{% block content %} 
<div class="detail__img">
    <img src="{{crystal.img}}" alt="{{crystal.name}}" />
</div>
<div class="detail__name">
<h1 class='title'>{{crystal.name}}</h1>
</div>
<div class="detail__container">
    <div class="buttons">
        <a href="{% url 'crystal_update' crystal.pk %}" class="button is-info">
            <span class="icon">
                <i class="fas fa-edit"></i>
            </span>
        </a>
        <a href="{% url 'crystal_delete' crystal.pk %}" class="button is-danger">
            <span class="icon">
                <i class="fas fa-trash-alt"></i>
            </span>
        </a>
    </div>
    <form class="mb-5" action="{% url 'use_create' crystal.pk %}" method="post">
        {% csrf_token %} 
        <div class="field has-addons">
            <div class="control">
                <input
                    class="input"
                    type="text"
                    name="name"
                    placeholder="uses/benefits"
                    required
                />
            </div>
            <div class="control">
                <input class="button is-primary" type="submit" value="Add A Use/Benefit"/>
            </div>
        </div>
    </form>
    <div class="detail__uses mb-5">
        <h3 class="title is-3">Uses</h3>

        {% for use in crystal.uses.all %} 
        <div class="use">
            <span>{{forloop.counter}}</span>
            <span><b>{{use.name}}</b></span>
            <span>
                <div class="dropdown">
                    <div class="dropdown=trigger">
                        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                            <span>Add to Wishlist</span>
                            <span class="icon is-small">
                                <i class="fas fa-andgle-down" aria-hidden="true"></i>
                            </span>
                        </button>
                    </div>
                    <div class="dropdown-menu" id="dropdown-menu" role="menu">
                        <div class="dropdown-content">
                            {% for wishlist in wishlists %} 
                                <a href="{% url 'wishlist_crystal_assoc' wishlist.pk crystal.pk %}?assoc=add"
                                    class="dropdown-item">{{ wishlist.title }}</a>
                            {% endfor %} 
                        </div>
                    </div>
                </div>
            </span>
        </div>
        {% empty %} 
        <article class="message">
            <div class="'message-header">
                <p>No Uses Available</p>
            </div>
        </article>

        {% endfor %} 
    </div>
    <div class="detail__about">
        <h4 class="title is-4">About</h4>
        <p>{{crystal.bio}}</p>
    </div>
</div>

{% endblock %} 