{% extends 'base.html' %}

{% comment %} for head title tags and helping us with SEO {% endcomment %}
{% block title %}Crystals{% endblock  %}

{% block content %}

<h1 class="title pt-5">My Collection</h1>
<div class="gallery">
  {% for crystal in crystals %}
  <a href="">
    <div class="card">
      <div class="card-image">
        <figure class="image is-square">
          <img src="{{crystal.img}}" alt="{{crystal.name}}" />
        </figure>
      </div>
      <div class="card-header">
        <p class="card-header-title">{{crystal.name}}</p>
      </div>
    </div>
  </a>
	{% empty %}
  <article class="message">
    <div class="message-header">
      <p>No Crystal Available</p>
    </div>
  </article>
  {% endfor %}
</div>
{% endblock %}