{% extends 'base.html' %} 
{% block content %} 
<div class="detail__img">
    <img src="{{crystal.img}}" alt="{{crystal.name}}" />
</div>
<div class="detail__name">
<h1 class='title'>{{crystal.name}}</h1>
</div>
<div class="detail__container">
    <div class="buttons">
        <a href="{% url 'crystal_update' crystal.pk %}" class="button is-info">Update
            <span class="icon">
                <i class="fas fa-edit"></i>
            </span>
        </a>
        <a href="{% url 'crystal_delete' crystal.pk %}" class="button is-danger">Delete
            <span class="icon">
                <i class="fas fa-trash-alt"></i>
            </span>
        </a>
    </div>
    <div class="detail__about">
        <h4 class="title is-4">About</h4>
        <p>{{crystal.bio}}</p>
    </div>
</div>

{% endblock %} 